<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>NHD River Search</title>

    <!-- Bootstrap core CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.0.2/css/bootstrap.min.css" rel="stylesheet">
    <link href='//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.css' rel='stylesheet' />
    <style type="text/css">
        .top-buffer {
            margin-top: 20px;
        }

        #map {
            height: 500px;
        }
    </style>
  </head>

  <body>

  <!-- Static navbar -->
  <div class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">NHD Search</a>
    </div>
    <p class="navbar-text navbar-right"><small>Search the <a href="http://nhd.usgs.gov/">National Hydrography Dataset</a></small></p>
  </div>

    <div class="container">

      <!-- Search -->
      <div class="row">
        <div class="col-md-12">
          <form class="form-inline" role="form">
          <div class="form-group">
            <label class="sr-only" for="latitude">Latitude</label>
            <input type="number" class="form-control" id="latitude" placeholder="Latitude" min="-180" max="180" step="any">
          </div>
          <div class="form-group">
            <label class="sr-only" for="longitude">Longitude</label>
            <input type="number" class="form-control" id="longitude" placeholder="Longitude" min="-180" max="180" step="any">
          </div>
          <div class="form-group">
            <label class="sr-only" for="name">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name (optional)">
          </div>
          <a href="javascript:void(0)" class="btn btn-default" onclick="nhdSearch()">Search</a> (<a href="javascript:void(0)" onclick="nhdSearch(35.283, -82.3582, 'Green River')">example</a>)
          </form>
        </div>
      </div>

      <!-- Map and Table -->
      <div class="row top-buffer">
        <div class="col-md-3" style="display:none;">
          <table class="table table-striped table-bordered" id="river-list">
            <tr>
              <th>Name</th>
              <th>Name Similarity</th>
              <th>Distance (meters)</th>
            </tr>
          </table>
        </div>
        <div class="col-md-9" id="map"></div>
      </div>

      <!-- Footer -->
      <div class="row">
        <footer>
          <hr>
          <p class="col-md-12">
            Creator: <a href="https://github.com/JeffPaine">Jeff Paine</a>, &#8984;-R
            <br>
            Code: <a href="https://github.com/JeffPaine/nhd_search">GitHub</a>
            <br>
            Data: <a href="http://nhd.usgs.gov/">National Hydrography Dataset</a>
          </p>
        </footer>
      </div>

    </div> <!-- /container -->

    <!-- Scripts -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
    <script src="//api.tiles.mapbox.com/mapbox.js/v1.4.0/mapbox.js"></script>
    <script>
    {# Put js in seperate file for editing convenience but combine to simple page for easy serving #}
      {% include 'main.js' %}
    </script>

  </body>
</html>
